
    .map  h2 ,h5{
    text-align: center;
    columns: var(--color-light);
    }

    .map h5{
        margin-top: 8rem;
    }
    
    .map h2{
        color: var(--color-white);
        margin-bottom: 3rem;
        font-size: 1.5em;
    }
  
  .google-map {
    margin-bottom: -5rem;
    width: 100%;
    height: 40vh;
  }
  
  .pin {
    display: flex;
    align-items: center;
    width: 10rem;
    color: var(--color-bg);
  }
  
  .pin-icon {
    font-size: 2rem;
  }
  
  .pin-text {
    font-size: 1.3em;
  }
  
  @media screen and (min-width: 799px) {
    .google-map {
      height: 40vh;
    }
  
    .map-h2 {
      font-size: 1.3rem;
      font-weight: 400;
    }
  
    .pin {
      width: 15vw;
    }
  
    .pin-icon {
      font-size: 10vw;
    }
  }